:root {
  --primary: #009688;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  height: 70px;
  background-color: var(--primary);
}
.navbar .logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.navbar .input-search input {
  width: 100%;
  padding: 5px 10px;
  color: var(--primary);
  caret-color: var(--primary);
}
